body{
    /*background-image:url(https://news.virginia.edu/sites/default/files/styles/uva_basic_article/public/article_image/coronavirus_tracker_header.jpg);*/
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    background-attachment: fixed;
    background-size: cover;
}

h1{
    margin-top: 50px !important;
    margin-bottom: 25px !important;
    color: white !important;
    /*background-color: rgb(18, 76, 235);*/
}
tr:hover{
    background-color: transparent !important;
    color:white !important;
    font-weight: bold !important;
}

tr{
    background-color: white !important;
}
thead{
   background-color: black !important; 
}

